$c0: #e20043;
$c1: #d62900;
$c2: #f07722;
$c3: #ff9b55;
$c4: #fff;
$c5: #d262a6;
$c6: #b75591;
$c7: #a50062;

$r1: #050507;
$r2: #c72547;
$r3: #e9509d;
$r4: #f9bcbe;

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $r1;
  color: $r4;
  font-family: 'Josefin Slab', serif;
  font-weight: 500;
}

.centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  font-size: 3em;
  padding: 0.2em;
  margin: 1em 0 0 0;
}

// mobile portrait
@media (min-width: 0px) and (orientation: portrait) {
  img {
    max-width: 90%;
  }
}

// mobile landscape
@media (min-width: 0px) and (orientation: landscape) {
  a {
    max-height: 60%;
  }
  img {
    max-height: 90%;
  }
  p {
    margin: 0;
  }
}

// desktop
@media (min-width: 680px) {
  img {
    max-width: 70%;
  }
}
